[defaults]
inventory = inventory
interpreter_python = auto_silent
retry_files_enabled = false
nocows = 1
gathering = implicit
inject_facts_as_vars = false
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections
local_tmp = tmp

[callback_default]
result_format = yaml

[privilege_escalation]
become = false
become_ask_pass = false
